@model IEnumerable<TransmogDB.Models.Transmog>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Transmog Database</h1>
    <p class="lead">@ViewBag.totalAppearances total transmogrifications captured.</p>
    <p><a href="#" class="btn btn-primary btn-lg">How does it work? &raquo;</a></p>
</div>



<div class="row">
    <div class="card-group">
        <div class="col-md-12">
            @foreach (var item in Model)
            {

                <div class="card">
                    <div class="card-header">
                        <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                        <h6 class="text-muted">of @Html.DisplayFor(modelItem => item.Realm)</h6>
                    </div>
                    <img class="img-fluid" src="@item.Image" />
                        <div class="card-footer text-xs-center">
                            <a href="/Transmog/Appearance/@item.ID" class="btn btn-primary">Details</a>
                        </div>

                </div>

            }
        </div>
    </div>
</div>

